@model Epicentrum.Models.Earthquake

<div class="modal fade bd-example-modal-lg" id="earthquakeModal" tabindex="-1" role="dialog" aria-labelledby="earthquakeLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="earthquakeLabel">Earthquake details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-left">
                <div>
                    <dl class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Date)
                        </dt>
                        <dd class="col-sm-8" id="date">
                            @Html.DisplayFor(model => model.Date)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Location)
                        </dt>
                        <dd class="col-sm-8" id="location">
                            @Html.DisplayFor(model => model.Location)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Magnitude)
                        </dt>
                        <dd class="col-sm-8" id="magnitude">
                            @Html.DisplayFor(model => model.Magnitude)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Deaths)
                        </dt>
                        <dd class="col-sm-8" id="deaths">
                            @Html.DisplayFor(model => model.Deaths)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>